{% extends "taller/main.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    <form action="/cursoFormulario/"    method="post"> {% csrf_token %}
        <p> Nombre: <input type = "text" name="nombre">
        <p> Apellido: <input type = "text" name="apellido">
        <p> Email: <input type = "text" name="email">
        <br>
        <input type = "submit" value="Enviar">
     </form>   
</body>
</html>


{% endblock %}